<div class= "container bg-light">
    <div class="col-lg-12 mt-3">
      <h2 class="text-center">理想の身体を手に入れろ！！！</h2>
       <div class="text-center"><%= image_tag 'img/m.jpg', size: '600x400', class: "mt-3" %></div>

  <p class="text-center mt-3">筋力トレーニングにおいて大きく分けて二通りのトレーニング方法があります</p>
  <p class="text-center">一つはフィットネスジム(マシーンや器具等が施設に用意されている場所)で行うトレーニング法</p>
  <p class="text-center">、自宅にいながら行えるなど場所にとらわれず何処でも行える自重トレーニングの二通りです。</p>
  <p class="text-center">行なったトレーニングメニューと、そのトレーニングをした目的をこのサイトでシェアしましょう！！！！</p>

    </div>
  </div>
</div>

